*.tfvars
*.tfstate
*.tfstate.backup
*.json
.terraform.lock.hcl
/*.tfvars
/*.tfstate
/*.tfstate.backup
/*.json
.terraform.lock.hcl
/*/*.tfvars
/*/*.tfstate
/*/*.tfstate.backup
/*/*.json
.terraform.lock.hcl

